{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    
        <main class="bg-[#E0E0EC] pt-24 pb-24 md:pt-16 px-3">
            <div class="container mx-auto">
                <h1 class="text-2xl">Ish yaratish.</h1>
                <form method="post" class="flex flex-wrap md:flex-nowrap justify-between gap-10 my-8 items-center">
                    <div class="bg-white rounded-xl p-3 w-full lg:w-[35%] h-full">
                        <input type="file" accept="image/*" id="id_project_image" name="project_image" class="hidden"
                            required onchange="openFile(event, 'insertPic')">
                        <label for="id_project_image" class="flex items-center justify-center">
                            <img src="img/insert-pic.png" id="insertPic" class="w-[75%]" alt="Insert picture">
                        </label>
                    </div>
                    <div class="bg-white rounded-xl w-full lg:w-[65%] h-full py-5 px-5">
                        <input name="title" type="text" required placeholder="Ishning nomi *"
                            class="w-full pt-2 pb-2 rounded-md pl-3 bg-[#DDE1E8] text-lg my-2">
                        <!-- // -->
                        <input name="url" type="url" required placeholder="Manzil (url) *"
                            class="w-full pt-2 pb-2 rounded-md pl-3 bg-[#DDE1E8] text-lg my-2">
                        <!-- // -->
                        <textarea name="description" type="text" required placeholder="Qisqacha tavsif"
                            class="w-full pt-2 pb-2 rounded-md pl-3 bg-[#DDE1E8] min-h-[100px] text-lg my-2"></textarea>
                        <!-- // -->
                        <button class="py-2 px-8 bg-[#FDC905] block mb-2 rounded-lg text-white">Yuklash</button>
                    </div>
                </form>
            </div>
        </main>

{% endblock content %}

